.container {
    background-color: var(--bgSoft);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
}

.container .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.icons {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
}