.container {
    background-color: var(--bgSoft);
    padding: 1rem;
    border-radius: 10px;
}

.title {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--textSoft);
}

.container .chart {
    height: 300px;
}